* {
  margin: 0;
}
.app {
  background-color: #111;
  width: 100%;
}

/* hiding scroll bar */
::-webkit-scrollbar {
  width: 0px !important;
}

/* for fitting in mobile screen */
html,
body {
  width: 100%;
  overflow-x: hidden;
}
